/* Write your CSS here */
.vaccination-coverage-container {
  background-color: #1c1c2b;
  padding: 20px;
  width: 40%;
  height: 600px;
  border-radius: 8px;
  padding-left: 30px;
  margin-bottom: 40px;
}
.vaccination-coverage-heading {
  color: #94a3b8;
  font-size: 40px;
  padding-left: 20px;
}
